@{
    ViewData["Title"] = "Menu Planillas";
    Layout = null;
}

<p>El Grupo de Pago es la clasificación de las planillas, de acuerdo a su frecuencia de pago: Semanal, Bisemanal, Quincenal o Mensual.</p>

<p align="CENTER"><img src="images\mant\grupo_pago.png"></p>

<p>En esta sección, se deben configurar tres aspectos importantes, estos son:</p>
<ol>
    <li>
        Las fechas con las cuales vamos a comenzar a realizar las planillas en PayDay,
        
    <li>
        El día considerado como el "Primer" día de la semana.
        
    <li>
        Los formatos de Borrador, Voucher y Talonarios a utilizar.
        
</ol>

<p>También es importante señalar que sólo al momento de iniciar con PayDay es necesario modificar estos valores;  ya que a medida que vamos haciendo pagos, PayDay se encargará de actualizarlos. Veamos cada campo de los Grupos de pago:</p>


<table class="table table-bordered table-striped" align="Center" border="1" width="90%">
    <thead>
        <tr> <th>Campo</th>   <th>Descripción</th> </tr>
    </thead>
    <tbody>
        <tr>
            <td>Horas Base</td>
            <td>
                Indica la cantidad de horas regulares que deben trabajar los empleados en su respectivo grupo de pago.  Por ejemplo, si el grupo de pago es semanal, coloque la cantidad de horas que se trabaja por semana, ya sea 40,44 ó 48; si el grupo de pago es bisemanal, entonces será 80, 88 ó 96. Para los empleados que reciben su pago quincenal o mensualmente, se debe utilizar la siguiente fórmula:
                <p align=center><br><img src="images\mant\horas_base.png"></p>
                Si tiene empleados que trabajan una cantidad de horas diferente a los demás, coloque en este campo el valor más común, para que cuando cree a los empleados en el sistema, y seleccione su grupo, PayDay le coloque automáticamente este valor.
            </td>
        </tr>

        <tr>
            <td>Último día Pagado</td>
            <td>Es la fecha del último pago realizado a los empleados.  Por ejemplo, si usted hará su primera planilla con PayDay, para el 15 de enero de 2020, entonces deberá colocar como último día pagado el 31/12/2019.</td>
        </tr>

        <tr>
            <td Nowrap>Ausencias Calculadas Hasta</td>
            <td>Indica la fecha final hasta la cual se tomaron en cuenta las ausencias de los empleados, en el último pago realizado.</td>
        </tr>

        <tr>
            <td>Sobretiempo Pagado Hasta</td>
            <td>Es la fecha final hasta la que se consideraron las horas extras, en el pago anterior. </td>
        </tr>

        <tr>
            <td>Último Período Cerrado	</td>
            <td>Es el mes anterior al que vamos a trabajar con PayDay.  Recuerde que el período esta conformado por el año y el mes, así: AAAAMM. Ejemplo: 201912 para diciembre de 2019. </td>
        </tr>

        <tr>
            <td>Primer Día Semana</td>
            <td>Indica el día en que inicia la semana de trabajo en la empresa.  Payday lo utiliza para llevar el control del límite de nueve horas de sobretiempo en la semana y cuando se sobrepase, aplicar el recargo correspondiente.</td>
        </tr>

        <tr>
            <td>Opciones para Imprimir</td>
            <td>Contamos con diferentes opciones para que usted pueda cambiar los formatos de los principales reportes que se general al hacer una planilla, estos son: el <b>Borrador</b> de la planilla, el Informe de <b>Totales del Borrador</b> de la planilla, los <b>Vouchers</b> o comprobantes de pago y los <b>Talonarios</b> de los cheques.   Aquí usted puede cambiar sus formatos, luego tomar el reporte y ver si le gusta o conviene más un informe que otro.</td>
        </tr>
    </tbody>
</table>
