

@{
    ViewData["Title"] = "Menu Planillas";
    Layout = null; // Deshabilita el layout para esta vista
}

<p>La función principal de los Horarios en PayDay, es asignar el <a class="btn-link" href="#" aria-controls="submenu-mant-hor-metodos" data-topic="Mantenimiento/Horarios/MetodosCaptura">Métodos de Captura de Datos</a>  que se va a utilizar.  Esta opción es requerida o de suma importancia para el programa, porque de ella depende la elaboración de las planillas regulares. </p>

<p>Todo empleado debe estar asignado a un horario, si no es así, no podrá generar una planilla regular.</p>

<p>Podemos tener uno o más horarios creados en PayDay, para ello debemos tomar en cuenta la forma en que se introducirán los datos a pagar en las planillas regulares y así, dependiendo del método de captura de datos que se utilice, se crearan los horarios.  </p>

<p>Para crear un Horario, siga los siguientes pasos:</p>

<ol>
    <li>Tome la opción <i>Mantenimiento|Horarios</i>.
    <li>Seleccione la opción <img align=middle src="\images\Botones\Nuevo.png">
    <li>Asigne un código y un nombre a su horario.
    <li>Seleccione el <a class="btn-link" href="#" aria-controls="submenu-mant-hor-metodos" data-topic="Mantenimiento/Horarios/MetodosCaptura">Método de Captura de Datos</a> a utilizar.
    <li>Si el método de captura de datos lo requiere, coloque las horas  de entrada y salidas asignados al horario.
    <li>Presione <img align=middle src="\images\Botones\Guardar.png"> para grabar o <img align=middle src="\images\Botones\Cancelar.png"> para cancelar la creación del horario.
</ol>

<p>Además de esto, es importante saber que los códigos de horarios no pueden tener espacios ni caracteres especiales.</p>

<p>Veamos ahora las pantallas del menú Horarios:</p>
<ul>
    <li> <a class="btn-link" href="#" aria-controls="submenu-mant-hor-metodos" data-topic="Mantenimiento/Horarios/DatosHorario">Datos del Horario</a>
    <li> <a class="btn-link" href="#" aria-controls="submenu-mant-hor-metodos" data-topic="Mantenimiento/Horarios/HorOtros">Otros datos</a>
</ul>