@{
    ViewData["Title"] = "PayDayCloud, ¿Qué hay de nuevo?";
    Layout = null; // Deshabilita el layout para esta vista
}

<p align=center><img src="\images/PayDayCloud/logotipo.png"></p>
<br>
<br>

<h1>PayDayCloud versión 15.20.28</h1>
<p>17 de agosto de 2023</p>

<b><li>MEJORAS EN LA SEGURIDAD DE SUS DATOS</b>
<br>
Al iniciar sesión en PayDayCloud, aparecerá el siguiente mensaje detallando los cambios implementados en esta actualización:

<p align="CENTER"><img src="\images\PayDayCloud\Aviso_EliminaArchivos.png"></p>
<br>

Cuando vaya a cerrar su sesión de PayDayCloud, se mostrará este aviso, para evitar que pierda archivos que no haya descargado de su almacenamiento en la Nube:

<p align="CENTER"><img src="\images\PayDayCloud\Aviso_EliminaArchivos_Salir.png"></p>

<br>
<br>
<h1>¡Lanzamos PayDayCloud!</h1>
<p>22 de agosto de 2019</p>

<p>Bienvenidos a PayDayCloud, la facilidad de contar con PayDay en la nube!!!</p>
<p>Con esta herramienta, puede contar con todas las opciones y facilidades del Sistema de Planilla PayDay, ahora accesible desde cualquier lugar y en cualquier momento!! Veamos las características nuevas que nos trae PayDayCloud:</p>
<ul>
    <li>
        <b>BARRA DE HERRAMIENTAS</b>

        <p align="CENTER"><img src="\images\PayDayCloud\barraherramientas.png"> </p>

        <b>En PayDayCloud tenemos esta barra de herramientas, con la cual usted podrá importar y exportar archivos desde la nube, veamos sus opciones:</b>

        <ol>
            <li> FROM PC TO SERVER - Importar archivos a la nube.
            <li> CLIPBOARD         - Es el portapapeles, contiene la acción de copiar, pegar y cortar, es ideal para usuarios que no utilizan un sistema Windows para accesar a PayDayCloud.
            <li> FROM SERVER TO PC - Descargar archivos de la nube.
            <li> FULL SCREEN       - Ver el programa en pantalla completa, presionar <ESC> para salir de ella.
        </ol>
        <b>PayDayCloud tiene manejo diferente de algunas opciones en PayDay, veamos:</b>


        <b>
    <li>
        PROCESOS DE IMPRESIÓN</b>
        Los procesos de impresión no se realizan directamente de la nube a su impresora; los reportes, documentos, cartas, etc. que quiera imprimir, al tomar la opción, PayDayCloud lo transfiere a PDF y luego le permite imprimir en su impresora o las que tenga configuradas en su equipo.


    <li>
        <b>   PROCESOS PARA GUARDAR ARCHIVOS </b>
        Cada vez que requiera guardar un archivo desde PayDayCloud, deberá grabarlo primero en la nube y luego descargarlo a su equipo. Todos los archivos se guardan en el escritorio del usuario en la nube, la siguiente imagen muestra la ruta del escritorio de un usuario y está deshabilitada la opción de buscar otra ruta donde grabar información.
        <br><br>
        En este ejemplo, la ruta apunta a la carpeta FILES, en escritorio del usuario PLOSJ9D, que se encuentra en el disco C, del servidor que está en la nube:

        <p align="CENTER"><img src="\images\PayDayCloud\Rutadearchivos.png"></p>
    <li>
        <b>  ESTRUCTURA PARA ALMACENAR ARCHIVOS  </b>
        Los archivos generados por el usuario se guardarán automáticamente en el escritorio de la nube y el sistema creará para carpetas especificas para procesos especiales, tales como SIPE, ACHs, ANEXO 03, entre otros, tal como se ilustra a continuación:


        <p align="CENTER"><img src="\images\PayDayCloud\CarpetasdeArchivos.png"></p>


        Si al momento de tratar de bajar archivos, usted selecciona el icono "FROM SERVER TO PC" desde la barra de herramientas y no logra visualizar la pantalla con las carpetas de los archivos, es porque esta minimizada.  Busque en su pantalla en la parte inferior derecha y allí verá una barra pequeña que dice SELECT FILES, tal como se muestra en la siguiente imagen.
        Al seleccionarla, tendrá acceso a los archivos.

        <p align="CENTER"><img src="\images\PayDayCloud\Selectfiles.png"></p>


        <span class="header3">
    <li>
        <b>  IMPORTAR ARCHIVOS A PayDayCloud </b> </span>
        Para importar a PayDayCloud, archivos que se utilizarán para cargar algún tipo de información, previamente deberá subir ese archivo a su escritorio en la nube.  Recuerde entonces utilizar en la barra de herramientas, el icono FROM PC TO SERVER.

        <span class="header3">
    <li>
        <b>   EXPORTACION DE CHEQUES </b> </span>
        El proceso de exportar cheques funciona igual, solo que la ruta para grabar el archivo esta predeterminada al escritorio del usuario en la nube.


        <span class="header3">
    <li>
        <b>  BACKUP EXTERNOS </b> </span>
        El proceso de Backup externo esta predeterminado que guarde en el escritorio del usuario en la nube.  La opción de Zip FPT no está habilitado aun.

        <span class="header3">
    <li>
        <b>  VOUCHERS   </b></span>
        El Proceso de guardar los Vouchers tiene cambios, se crea en el escritorio del usuario, un archivo ".zip" que contiene todos los vouchers de la planilla.

        El nombre del archivo zip tiene le siguiente nomenclatura: Númeroplanilla_fechaplanilla_tipoplanilla.zip

        Ejemplo: 95_20191112_bisemanal.zip


        <span class="header3">
    <li>
        <b>  CARGAR FOTOS DE LOS TRABAJADORES   </b></span>
        Para asignar a cada trabajador su foto, usted debe subirla a su escritorio en la nube y luego en los datos generales del empleado, asignarle la foto.

        Una vez que el trabajador tenga su foto, usted puede eliminarla del escritorio en la nube, porque la misma ya ha sido almacenada internamente.


        <span class="header3">
    <li>
        <b>   IMPORTACIÓN DE DEUDAS  </b> </span>
        Si usted realiza la importación de deudas de forma masiva, deberá importar el archivo a la nube, para posteriormente seleccionarlo en PayDay



        <span class="header3">
    <li>
        <b>  BASE DE DATOS   </b></span>
        Se cuenta con un nuevo menú en la opción Otros, llamado Base de Datos.  Allí esta la opción para reordenar la información y una nueva opción de Verificar Integridad.  Esta ultima, permite revisar las tablas internamente a ver si alguna esta dañada o si tienen algún inconveniente.  Si la tabla esta bien, aparece un OK a su la lado en la lista, de lo contrario dirá Reparar.

        <span class="header3">
    <li>
        <b>ADMINISTRADOR DE ARCHIVOS   </b> </span>
        En <i>Otros|Otros Procesos</i>, se cuenta con esta nueva opción que le permite borrar los archivos que tenga en la nube.

        <span class="header3">
    <li>
        <b> IMPRESIÓN DE CHEQUES  </b></span>
        Para imprimir cheques utilizando PayDayCloud, desarrollamos la aplicación <b>PayPrintCheck</b>, que se instala en el ordenador desde el que se hará la impresión de los cheques.

        Para esto, desde PayDayCloud debe descargar el archivo de los cheques a imprimir, posteriormente cargue el archivo a PayPrintCheck y finalmente imprima los cheques.
</ul>