@{
    ViewData["Title"] = "PayDayCloud, ¿Qué hay de nuevo?";
    Layout = null; // Deshabilita el layout para esta vista
}

<p align=center><img src="\images/PayDayCloud/logotipo.png"></p>
<br>
<br>

<h1>Productos Nuevos</h1>
<p>2025</p>