@{
    ViewData["Title"] = "¿Qué hay de nuevo?";
    Layout = null; // Deshabilita el layout para esta vista
}

<h1>PayDay versión 15.20.28</h1>
<p class="mb-5"><small>17 de agosto de 2023</small></p>

<h3>Verificar Agente de PayDayBi</h3>
<p>Añadimos la opción <i>Ayuda|Verificar PayDayBi</i>para confirmar que el agente de PayDayBi esté en ejecución.</p>
<p align="CENTER"><img src="\images\ayuda\menu.png" alt="Menú de ayuda"></p>

<h1>PayDay versión 15.11.30</h1>
<p align="CENTER">30 de noviembre de 2022</p>

<h3>Reportes en Excel</h3>
<p>En esta versión, incluimos la posibilidad de activar o desactivar la función de abrir automáticamente los reportes en formato Excel, luego de ser generados.</p>
<p>Adicionalmente, puede escoger si desea generar <i><b>el borrador de la planilla</b></i>utilizando el nuevo formato Excel (XLSX) o el formato antiguo (XLS).</p>

<h3>20 de Diciembre, Día de Duelo Nacional</h3>
<p>Añadimos el 20 de diciembre a la lista de días feriados en PayDay.</p>


<h1>PayDay versión 15.9.12</h1>
<p align="CENTER">12 de septiembre de 2022</p>

<h3>INFORME 03 MENSUAL</h3>
De acuerdo con el Decreto Ejecutivo No. 186 de 22 de noviembre de 2021, el Informe 03 o Anexo 03, deberá ser presentado mensualmente y, en esta versión, implementamos un informe, que le será de apoyo para cotejar la información que ha sido reportada en el SIPE.


Para generar el archivo, siga los pasos a continuación:

<ol>
    <li>
        Tome la opción <i>Informes|Impuesto S\Renta|Anexo 03 - Mensual.</i>

        <p align="CENTER"><img src="\images\informes\ISR\Anexo03-Mensual_Menu.png"></p>


    <li>
        Aparecerá el siguiente mensaje. Léalo, escoja las opciones que necesite y dé click en <img align=middle src="\images\Botones\Continuar.png">

        <p align="CENTER"><img src="\images\informes\ISR\Anexo03-Mensual_Importante.png"></p>


    <li>
        Escoja el periodo que desea generar.

        <p align="CENTER"><img src="\images\informes\ISR\Anexo03-Mensual_Periodo.png"></p>


    <li>
        Elija el directorio de destino.

        <p align="CENTER"><img src="\images\informes\ISR\Anexo03-Mensual_Guardar.png"></p>
</ol>

<small><i><b>NOTA: </b>Recuerde que este informe sólo es para apoyarle a cotejar la información que proviene del SIPE y no recomendamos que sea presentado en la plataforma de Etax 2.0.</i></small>



<h1>PayDay versión 15.6.23</h1>
<p align="CENTER">23 de junio de 2022</p>

<h3>REPORTE DE CAMBIO DE SALARIOS E INGRESOS</h3>
Incluímos el cargo del empleado en el reporte de cambio de ingresos, se encuentra en <i>Informes|Recursos Humanos|Cambio de Salarios \ Ingresos</i>.


<h3>REPORTE DE SALARIO POR MES</h3>
Agregamos al reporte <i>Informes|Empleados|Salarios por Mes|Salarios por Mes</i>el monto de Combustible, este monto es sumado junto el salario en especie.


<h3>RUTA Y TRÁNSITO DE BANCOS Y COOPERATIVAS</h3>
-Añadimos la ruta y transito de los siguientes Bancos y Coorperativas, BANK OF CHINA,BANCO LA HIPOTECARIA, BANCO DEL PACIFICO, S.A., ATLAS BANK, ECASESO, COOPRAC, R.L.


-Eliminamos la ruta y tránsito de BANCO BAC PANAMÁ, S.A., queda el banco BAC INTERNATIONAL BANK.


<h1>PayDay versión 15.0.0</h1>
<p align="CENTER">15 de diciembre 2021</p>

<h3>RECIBE VALE</h3>
Si el trabajador recibe Vale, al activar esta opción, ahora le permite colocar el valor que recibe como vale de alimentación y puede posteriormente tomar un nuevo reporte que se encuentra en <i>Informes|Recursos Humanos|Vale Panamá o similares</i>, que le muestra un listado de los empleados y el monto que les corresponde en Vales.

<p><small><b>Nota:</b>Este reporte se toma solo como referencia, el beneficio del Vale no será incluido en la planilla.</small></p>


<h3>NUEVO FORMATO PARA RESPALDO DE ARCHIVOS </h3>
Hacer backup de los datos de la empresa es muy importante, <b>¡No pueden faltar!</b>

Tener copias de respaldo de los datos de un sistema es sumamente importante, pues en cualquier momento puede dañarse algún archivo o pasarle algo al equipo y quizá pueda perder la informacion acumulada de años de trabajo.

PayDay le ofrece opciones para hacer sus respaldos en el mismo equipo donde esta la informacion y\o backups externos, que se guardarán en otro equipo, de forma que si le ocurre algo al computador, tenga disponible una copia lo más actualizada posible.

Este nuevo formato le permite grabar sus copias con un nombre y también una descripción, de forma que le sea más fácil identificar la información de cada uno y además, puede hacer copias con enlaces externos a otras aplicaciones como OneDrive, Google Drive y DropBox. <%= TopicLink([ Ver más...],[_20M0LBOXU]) %>


<h3>NUEVO REPORTE DE EMAILS </h3>
Este nuevo reporte muesta los email de los empleados y cuenta con 3 opciones: mostrar todos los empleados, los empleados con email o sólo los empleados sin Email.  Puede encontrarlo en <i>Informes|Recursos Humanos|Lista de Emails.</i></i>


<h3>LOGO DE LA EMPRESA EN INFORMES Y COMPROBANTES </h3>
En esta versión, contamos con la posibilidad de añadir el logo de la empresa a los informes y comprobantes de pago. Para escoger el archivo del logo, vaya a <i>Mantenimiento|Configuración|<%= TopicLink([Datos de la Compañía],[_17R0SBR0Q]) %></i>.


<h3>LLEVAR A CUENTAS CONTABLES SEPARADAS, LOS CONCEPTOS DE GASTO DE REPRESENTACIÓN DE VACACIONES Y DE XIII MES </h3>
Hemos incluido estas dos cuentas, para los que deseen contabilizar separadamente los Gastos de Representación de Vacaciones y de XIII mes.  Puede activar esta nueva función en <i>Mantenimiento|Configuración|Opciones|<%=TopicLink([Cuentas del Mayor General],[Cuentas del Mayor General]) %></i>.


<h3>TOLERANCIA POR REDONDEO EN LOS ASIENTOS </h3>
Representa el monto máximo aceptable para efectos del redondeo en el cálculo de Seguro Social, Seguro Educativo y Riesgos Profesionales al generar los asientos contables. Para modificar este parámetro, debe ir a <i>Mantenimiento|Configuración|Opciones|<%=TopicLink([Cuentas del Mayor General],[Cuentas del Mayor General]) %></i>.


<h3>FONDO DE CESANTIA </h3>
A partir de esta versión, usted puede elegir preparar el archivo para presentar su Fondo de Cesantía Mensual, por lo que al tomar la opción de Preparar el Archivo para el Banco, debe elegir si lo quiere Mensual o Trimestral; dependiendo de la selección, se realizarán los cálculos.

Se modifica el informe del Fondo de Cesantía, se agrega la columna de cédula del empleado.</i>


<h3>REPORTE DE SALARIO POR MES </h3>
Contamos con un nuevo formato del reporte Salarios por Mes, en <i>Informes|Empleados|Salarios por mes</i>que une los campos de Liquidación y de Licencia en una sola columna, para ganar un espacio y colocar después de la columna NETO el campo de Salarios en Especie.



<h1>PayDay versión 11.5.0</h1>
<p align="CENTER">23 de febrero 2019</p>


<h3 class="header3"><h3>NUEVO INTERFAZ CON SIPE</h3></h3>

La Caja de Seguro Social (CSS) tiene un nuevo formato para la carga masiva de las planillas, que permite importar un archivo en formato MS-Excel, con el detalle completo de los conceptos que deben declararse mensualmente.  Es decir, con este interfaz ya se declara por separado horas extras, comisiones, XIII Mes y todos los demás conceptos.

<b>Con PayDay usted podrá:</b>
1. Generar un Informe de Ingresos especialmente diseñado para revisar su Planilla Prelaborada
2. Exportar el archivo que necesita para cargar en SIPE su planilla

Y luego podrá importar en SIPE, el archivo generado desde PayDay.  <%= TopicLink([Veamos],[_5HG0LJV8R]) %>


<h3>SE AMPLIA DICCIONARIO EN CARTAS Y OTROS DOCUMENTOS  </h3>
En la sección de Cartas y otros documentos, se agrega en esta versión, los campos de fecha de Liquidación y fecha de vencimiento de contrato  en el diccionario de campos.  Con esto usted puede utilizar esta información al confeccionar sus cartas.

<h3>MAS OPCIONES EN DEUDAS EN MASA </h3>
Se incluye la posibilidad de generar deudas en masa de acuerdo al CARGO del trabajador o de acuerdo al Tipo de Empleado, ya sea permanente o eventual.

<h3>BLOQUEO DEL CREDITO DEL AÑO ANTERIOR </h3>
En el Anexo 03 y de acuerdo a los lineamientos que se requieren para el interfaz con eTax,  se modifica la pantalla de modificar datos, para que no se pueda utilizar el campo Crédito del Año Anterior.

<h3>DECLARAR EN SIPE TRANSPORTE E INDEMNIZACION</h3>
En el programa SIPE de la CSS, no existen los campos para declarar transporte ni indemnización; sin embargo, en PayDay hemos incorporado dos opciones para que el usuario decida si quiere incluir estos valores en su archivo para SIPE.   Refiérase a <i>Mantenimiento|Configuración|Opciones</i>.

<p align="CENTER"><img src="\images\actualiza\SUMA A SIPE.png"></p>


<h3>CONSOLIDAR COMPAÑIAS PARA SIPE</h3>
Si usted requiere unir en un solo informe o archivo, la planilla para SIPE, sólo debe asegurarse que las empresas que quiere unificar tengan el mismo Número Correlativo en los Datos Generales de la Compañía.


<h3>   EXPORTAR DATOS EN FORMATO XLS </h3>
En el procedimiento para exportar datos, en la opción Misceláneos, se incluyó una opción para generar la información con el formato de Ms-Excel 97-2003, que es la opción en formato XLS.
También se agregan los campos: apartado, teléfono 2 y extensión de teléfono a los campos que se pueden exportar desde Misceláneos.  Estos están cuando se selecciona la opción Generales del Empleado.


<h1>PayDay versión 11.0</h1>

<p align="CENTER">4 de noviembre 2018</p>


<h3>CAMBIOS ESPECIALES CAPAC \ SUNTRACS   </h3>
Esta versión 11.0 incluye algunos cambios de  las cambios establecidos en la nueva Convención Colectiva de trabajo 2018-2021, celebrada entre La Cámara Panameña de la Construcción (CAPAC) y el Sindicato Unico Nacional de Trabajadores de la Construcción (SUNTRAC).

Los principales cambios puede verlos en <%= TopicLink([Convención Capac\Suntracs 2018-2021],[_5BM0V0GN9]) %>


<h1>PayDay versión 10.0  </h1>

<p align="CENTER">1 de Octubre de 2014</p>



<h3>BITACORA DE CAMBIOS   </h3>
Es un reporte especialmente diseñado para mostrar los movimientos o cambios que los usuarios han realizado en el sistema.
Por ejemplo, usted puede ver qué usuarios han entrado y salido del sistema y en qué fechas, también qué cambios se han realizado en los datos de los empleados, si se han creado nuevos empleados, acreedores, deudas o  si ha realizado cambios de salarios, entre otros.

Su bitácora la encontrará en <%= TopicLink([<i>Otros|Administración|Bitácora.</i>],[Bitácora]) %>


<h3 class="header3" id="fichasdigitales"><li></h3>

La Caja de Seguro Social ha iniciado el proyecto de sustituir la ficha de comprobación de salarios que entrega de forma impresa a los empleados, por la nueva Ficha Digital, que permite al asegurado, obtener su ficha mensual y revisar sus cotizaciones vía web.

Los empleadores descargarán de la página web de la CSS, un archivo que contiene un "Número Consecutivo" para cada empleado, el cual cambia cada mes y con el cual éste podrá tener acceso a consultar la información de sus cuotas y las fichas de los últimos tres meses.

PayDay ya está preparado para importar este archivo y colocar en los datos de cada empleado, el número consecutivo que le ha sido asignado por la CSS.

Vea <i>Mantenimiento|Empleados|Datos Generales|Configuracón</i>, en la sección de "Otros números de empleado", allí encontrará el campo "ID Ficha Electrónica".

<p align="CENTER"><img src="\images\mant\Empleados\Emp_IDficha.png" \></p>

Este valor se mostrará a los empleados en sus vouchers o comprobantes de pago, para las planillas regulares, de liquidación, de XIII mes, de vacaciones y también en las extraordinarias.

Este nuevo módulo puede verlo en <i>Informes|Seguro Social|Fichas Electrónicas</i>.

<p align="CENTER"><img src="\images\informes\SeguroSocial\infSS_menu_fichas.png" \></p>


<p align="CENTER"><img src="\images\informes\SeguroSocial\InfSS_importarFichas.png"></p>

En esta pantalla puede importar el archivo que obtiene de la CSS y luego importarlo a PayDay para que cada colaborador tenga el número consecutivo que le corresponde cada mes.  También puede descomprimir las fichas para entregarlas a los empleados, si lo requiere.


<h3>MEJORA EN COMPROBANTES DE PAGO</h3>
Se Modificaron los Comprobantes de pago, eliminando la frase "NO GRAVABLES" y en su lugar se coloca la palabra "OTROS".

Se agrega también el campo ID FICHA que guarda el número que asigna la CCS al empleado para que pueda tener acceso a sus fichas electrónicas.  Ese numero variará cada mes, cuando se importe el archivo que genera la CSS.


<h3>VALIDACION DE ACCESO</h3>
Se ha incluido una nueva validación de acceso a PayDay, tratando de prever que personas sin autorización, puedan entrar al sistema.    En esta nueva versión se puede indicar al sistema, la cantidad de intentos que la persona tendrá para colocar su contraseña que le de acceso al mismo antes de bloquearse, tal como se muestra en la siguiente imagen.

<style>
    #valida-acceso {
        width: 95%;
        border: 1px #F5FAFF;
    }

    table td {
        border: solid 2px #F5FAFF;
    }

</style>
<table id="valida-acceso" border="1">
    <tr>
        <td>
            <p align="CENTER"><img src="\images\otros\Administracion\IntentosEntrada.png" \></p>
        </td>
        <td>
            Cuando el usuario falle y sobrepase la cantidad de intentos, el sistema saldrá de la pantalla de "Login" y enviará un mensaje que informa al usuario que la salida es debido a que sobrepasó los intentos fallidos.   También se cambia el estatus del usuario de "Activo"  a  "Inactivo" y si el usuario trata de entrar nuevamente, no va a poder hasta que se "Active" su usuario.

            <p>Para configurarlo, debe tomar las opciones <i>Otros|Administración|Usuarios</i>y colocar la cantidad de intentos permitidos para cada usuario.</p>
        </td>
    </tr>
</table>

<h3>RENOVAR CONTRASEÑAS</h3>
Se ha incorporado una opción para que el sistema solicite al usuario la renovación de su contraseña de acceso a PayDay.    Para hacerlo, solo debe colocar en la pantalla de configuración de usuario, la cantidad de días en que se debe renovar la contraseña.

Verifique los nuevos parámetros en <%= TopicLink([<i>Otros|Administración|Usuarios</i>],[_1UM0RKQZO]) %> y no olvide que en algún momento antes de que expire la contraseña, debe cambiarla y al hacerlo se genera una nueva fecha para renovar la contraseña.

<p align="CENTER"><img src="\images\otros\Administracion\usuario_renovar_contrasena.png" \></p>

<h3>ROLES</h3>
Siguiendo con las nuevas medidas de seguridad en PayDay, se ha incorporado el nuevo concepto de ROLES de usuarios, el cual permite categorizar a los usuarios según su función en el sistema. Por ejemplo, usted puede crear un rol para personal de Planilla (que no pueda cambiar salario, reponer backup), otro rol para personal de contabilidad (que solo puede tomar algunos reportes, hacer la preelaborada o generar el asiento del mayor general), otro Rol para recursos humanos, que pueda tomar reportes y no pueda generar planillas) y de esa manera, cuando cree nuevos usuarios, solo tendra que asignarle el rol y adoptará todos sus derechos.

Al realizar la actualización a la versión 10, el sistema crea tantos roles como usuarios existan en PayDay.  El usuario con el código "SUPERVISOR", es el encargado en primera instancia de  administrar y asignar los roles a los diferentes usuarios. Puede ver los roles en <i>Otros|Administración|Roles</i>.

<p align="CENTER"><img src="\images\otros\Administracion\roles.png" \></p>

<h3>DETALLE PARA XIII MES - MAS ACCESIBLE </h3>
Se habilita el informe especial que muestra el DETALLE PARA XIII MES, de forma que sea accesible a cualquier usuario (si así se le autoriza), ya que antes estaba restringido solo para el usuario "Supervisor".

El informe puede obtenerlo en <i>Informes|Empleados|Detalle para XIII Mes.</i>

<h3>RECALCULAR ACUMULADOS, AHORA DISPONIBLE PARA MAS USUARIOS   </h3>
Las opciones de "Recalcular Acumulados" estaban parametrizadas para  que sólo el usuario "Supervisor" pudiera tomarlas.  Con la incorporación de los roles al sistema, hay una opción que le da privilegios a los usuarios para poder tomar las opciones de recalcular acumulados sin ser el supervisor del sistema.  Este parámetro controla las opciones de Recalcular Acumulados para Mes y Año, XIII mes y Vacaciones.

<h3>CONTROLA LA FECHA DE INICIO DE LAS DEUDAS</h3>
Con esta nueva opción, usted puede crear una deuda e indicarle al sistema que no realice el descuento hasta que no llegue su fecha de inicio.
Esta fecha se valida contra la Fecha de la Planilla, si la fecha de inicio de la deuda es mayor que la fecha de la planilla, el sistema no agrega esa deuda a la planilla, si la fecha de inicio de la deuda es menor o igual a la fecha de la planilla si se agrega la deuda a la planilla.  Esta validación aplica para todos los tipos de planilla.

<h3>GENERACION AUTOMATICA DE CODIGOS DE EMPLEADO</h3>
En <i>Mantenimiento|Configuración|Opciones|Misceláneos</i>se incorpora una nueva opción que permite que el sistema, al momento de crear un nuevo empleado, genere automáticamente el código de empleado.  Este puede ser de forma numérica o alfanumérica, en ambos casos el código generado ocupa 6 caracteres.

<p align="CENTER"><img src="\images\actualiza\OPC_GENERA_CODIGO.png" \></p>

<h3>MEJORA AL PROCESO DE EXPORTACIÓN DE DATOS  </h3>
Se Mejora el procedimiento para la Exportación de Datos a Ms-Excel, DBF y ASCII, de forma que ahora se puede grabar en otra ruta que no sea la predeterminada.

<p align="CENTER"><img src="\images\informes\ruta_exporta.png" \></p>

<h3>   NUEVO REPORTE FECHAS DE VACACIONES  </h3>
Se modifica el reporte "Fechas de Vacaciones" para que permita al usuario seleccionar la fecha con la que se calcularán los días de vacaciones pendientes y puede ser de acuerdo al último día pagado o la fecha en la cual se genera el reporte.  También permite la selección de los empleados por agrupamiento y el orden que debe mostrar el reporte.

<h3>MEJORA AL REPORTE DE VACACIONES TOMADAS </h3>
Se agregó a la generación de "Vacaciones Tomadas" la opción de poder seleccionar el agrupamiento para los empleados y definir el orden de los mismos.


<h3>  HACER FILTRO DE EMPLEADOS PARA LIQUIDAR</h3>
Cuando se tiene que liquidar a un grupo de personas, ya sea de un departamento específico o de un centro de costo, usted puede filtrar los empleados para hacer más cómodamente su selección.

Solo elija el departamento, sucursal, centro de costo o proyecto que requiere para hacer el filtro y luego seleccione a los empleados de ese grupo.


<h3>NUEVO COMPROBANTES PARA LIQUIDACIONES</h3>
Se crea un nuevo comprobante de pago para las planillas de Liquidación, puede activarlo en <i>Mantenimiento|Configuración|Opciones|Reportes\Impresión</i>.  En la sección Vouchers, está el nuevo reporte: Windows - Una Pagina 8 1\2 * 11 -.

<p align="CENTER"><img src="\images\Planillas\Vouchers\Vou_liqui_Wind_1pag.png" \></p>

<h3>   CAMBIOS CONSTRUCCION   </h3>
Esta nueva versión incorpora importantes cambios para las empresas que utilizan el Módulo de Construcción, permitiéndoles registrar la cantidad de horas que se pagan con recargos especiales para los obreros afiliados a la Capac-Suntracs, tales como: altura, lluvia, profundidad, túnel, martillo, etc.   Veamos en la siguiente imagen.  continuación:

<p align="CENTER"><img src="\images\Planillas\Introducir\CamposConstrucc.png" \></p>

<h3>HISTORIA DE TRAMOS Y TIPOS DE INGRESOS  </h3>
Este nuevo reporte, muestra información sumamente útil.  Lo puede conseguir tomando la siguiente ruta: <i>Informes|Empleados|Historia de tramos y tipos de ingresos</i>. Como puede observar, la siguiente imagen muestra los parámetros que puede seleccionar para confeccionarlo.

<p align="CENTER"><img src="\images\informes\Empleados\InfEmp_tramosIng_pantalla.png" \></p>

<h3>   MULTIPLES PLANILLAS   </h3>

Ha llegado a PayDay un nuevo módulo que permite tener varias planillas abiertas de un mismo grupo de pago, siempre con la fecha del periodo que secuencialmente corresponde.

Es decir, ahora usted puede generar una planilla Quincenal, para un grupo de empleados de un departamento o sucursal específica y luego generar otra planilla quincenal para otro departamento o sucursal diferente.  También puede elegir empleados individualmente.

<p align="CENTER"><img src="\images\Planillas\Multipleh3illas\Mult_generar.png" \></p>

Como se puede apreciar en esta pantalla se ha incluido al momento de "Generar" la planilla, opciones adicionales para seleccionar a los empleados y reportes que nos indican los empleados seleccionados, los que están pendiente de pago y los empleados en conflicto (según su fecha de ultimo día pagado).

Esta opción, seleccionará de forma predeterminada los empleados que la fecha de "último dia pagado" sea menor a la fecha de inicio del periodo de la planilla que está generando.

Si hay empleados que la fecha de último día pagado es mayor a la fecha de inicio del periodo, el sistema los muestra en empleados por seleccionar.  No serán agregados automáticamente, deberá el operador de planilla agregarlos, de ser necesario.

<h3>REPORTE DE EMPLEADOS PENDIENTE DE PAGO   </h3>
Se crea un  reporte especial para las empresas que utilizan múltiples planillas.  El reporte muestra a los empleados que podrían estar pendientes de pago de acuerdo al último día pagado que tengan registrado.


<p align="CENTER"><img src="\images\Planillas\Multipleh3illas\Mult_emp_pendientes.png" \></p>


<h3>   VERIFICACION DE SALARIO PACTADO  VS  DEVENGADO  </h3>
Este nuevo reporte, permite al usuario verificar si los salarios que recibieron los empleados en el mes en curso, corresponden a los salarios pactados.
Debe tomarse este reporte antes de cerrar el mes, para tomar medidas oportunamente.
Esta es una muestra del reporte:

<p align="CENTER"><img src="\images\otros\otros_verificaSalarios.png"></p>


<h1>PayDay versión 9.89.44   </h1>

<p align="CENTER">16 de Noviembre 2013</p>

<h3>   NUEVO VOUCHER DIA x DIA  </h3>
Se crear un nuevo Voucher Windows - Una pagina 8.5 * 11, que muestra hasta un maximo de 60 registros de las marcaciones Dia x Dia de un empleado. Esta especialmente diseñado para imprimirse en Lanscape (paisaje). Es útil para los que quieren mostrar todas las marcaciones de la planilla.

<h3>   NUEVO REPORTE SALARIOS X MES  </h3>
Se crea un nuevo reporte se salarios por mes, el ual presenta dos niveles de agrupamiento.


<h3>   MEJORA AL PROCESO DE BACKUP'S   </h3>
Se incorpora una nueva opción que realiza verificación de los datos al momento de hacer o reponer un Backup.  Esta verificación busca que no existan archivos corruptos o tablas descencriptadas.
Para que se realicen estas verificaciones es necesario activar el parámetro que se encuentra en <i>Mantenimiento|Configuración|Opciones|Misceláneos</i>, tal como se muestra a continuación:

<p align="CENTER"><img src="\images\Planillas\Respaldo\VerifyBackups.png" \></p>

<h3>  NUEVO ENVIO DE BACKUP'S   </h3>
Se agrega una nueva opción en la pantalla de Respaldo de Archivos, titulada "Envío de otros archivos".
Con la finalidad de facilitar al cliente el envío de datos mediante backups que haya realizado anteriormente, el archivo se envía vía FPT y única y directamente a nuestro servidor .

Además, sólo se permiten archivos tipo ZIP, RAR o 7Z, no se permite que el cliente envíe otro formato.

<p align="CENTER"><img src="\images\Planillas\Respaldo\Envio_otros.png" \></p>

<h3>  Mejora en la creación de las deudas en masa  </h3>
Se modifica la pantalla de Deudas en masa y se agrega la opción: " Aparece en Carta de Trabajo",con este cambio los usuarios pueden al crear deudas en masa, indicar si esa deuda debe o no estar en las cartas de trabajo que se confeccionen.

<h3>  FECHA DE LIQUIDACION  </h3>
Se modifican todos los voucher de liquidacion para que muestren la fecha de salida del empleado y no la fecha de la planilla de liquidación, en el espacio donde está la FECHA DE LIQUIDACION EN EL VOUCHER.

<h3>  NUEVOS BANCOS EN LA RED ACH  </h3>
Se agrega Davivienda, Sctiabank , bancolombia y allbank a las opciones de ruta y transito

<h3>  GUARDAR VOUCHERS ENVIADOS POR EMAIL </h3>
A la pantalla en <i>Mantenimiento|Configuración|Opciones</i>se agrega un nuevo parámetro que permite guardar una copia de los Vouchers que se envian por email a los empleados.

Se agregan 2 campos nuevos en esta pantalla:
<ul>
    <li>El primero es para colcar una ruta donde se deben de guardar los voucher ejemplo : C:\VPAYDAY\SOSA\DOCUMENTOS\
</ul>

<ul>
    <li> El segundo campo es para armar el nombre del archivo, el conlleva una seria de parámetros, para los usuarios que prefieran cambiar los nombres de los archivos con los que se generan los comprobantes.   El cambiarlo requiere codificaciones especiales, como las que se muestran en la siguiente imagen.   Si prefiere utilizar la que PayDay coloca por default, no coloque nada en este campo, si desea cambiarla, solicite información a Sosa y Cía., S.A.
</ul>
<p align="CENTER"><img src="\images\mant\opciones_vouchersXmail.png"></p>

<h3>  MEJORA A REPORTE CENTRO DE COSTOS Y CUENTAS AFECTADAS </h3>
Se modifica el reporte Centros de Costo y Cuentas Afectadas, agregando los campos de Bonificacion y Gratificacion.


<h1>PayDay versión 9.89.36   </h1>

<p align="CENTER">12 de octubre 2012</p>


<h3>SEGURO SOCIAL EN LA PRIMA DE PRODUCCION</h3>
Esta opción le permite indicar al sistema si desea descontar SS a la totalidad de la prima de producción cuando ésta excede el 50% del salario mensual, o sólo al excedente de la prima de producción con respecto al salario mensual.   Si esta opción esta habilitada, se descuenta sólo al excedente, deshabilitada descuenta al 100%.


<h3>AVISO DE EMPLEADOS QUE DEBEN REGRESAR DE VACACIONES </h3>
Se ha incluido una opción que, antes de generar la planilla regular, muestra una pantalla con un listado de los empleados que están de vacaciones, pero que podrían  entrar en la planilla que se va a generar.   La pantalla permite seleccionar de manera general o individual a los empleados que serán activados e incorporados a la planilla regular.  La pantalla permite imprimir un reporte de estos empleados.  Es necesario activar el parámetro en <i>Mantenimiento|Configuración|Opciones</i>.

<p align="CENTER"><img src="\images\mant\opciones_activardeVac.png"></p>

<h3>VALIDACION DE NEGATIVOS </h3>
Existe una nueva validación, que no permite incluir valores menores a cero en las pantallas de pago de planilla.  No se permite valores en negativo en montos en dinero, ni en horas regulares, certificados médicos, ausencias y tardanzas.

Cuando se realiza  una planilla de liquidación, si el trabajador tiene acumulado en negativo a causa de que se le proyectó el XIII Mes, les saldrán mensajes con esa información y deberá crearse una deuda para que se le realice ese descuento.

<h3>CERTIFICACIONES MEF PARA AÑOS ANTERIORES </h3>
Ahora usted puede generar sus cartas de Certificación de Ingresos para el Ministerio de Economía y Finanzas de años anteriores, ya que antes de ésta versión solo se podía generar del último año cerrado.

<h3>EN RELOJ RESUMEN RESPETAR HORAS DE EMPLEADO</h3>
Al estar habilitada esta opción, cuando se importan las marcaciones se valida si existe algún empleado que fue ingresado al sistema después de la fecha en la cual inicia el periodo de planilla, y de ser así las horas regulares que están en el archivo de reloj se toman como las horas reales que trabajó el empleado y por consiguiente se ignora la opción anterior de Respetar Horas Base.

<h3>CHEQUES EN WINDOWS</h3>
PayDay está preparado con esta opción, para imprimir un cheque completo. Es decir, en los formatos anteriores solo se imprimían los valores variables del cheque, ahora se puede imprimir el arte completo del cheque, incluyendo el cheque y la numeración magnética.  Sin embargo hay requisitos importantes, como por ejemplo que usted debe contar con una  impresora de tinta magnética.   Para utilizar el nuevo formato,  active en <i>Mantenimiento|Configuración|Opciones</i>la opción que dice  Se imprimen Cheques 100% Windows, y si requiere también, la opción Se imprime Numeración Magnética.

<p align="CENTER"><img src="\images\mant\opciones_chequesWindows.png"></p>

<h3>ACTIVA\DESACTIVA DEUDAS</h3>
Se ha creado un nuevo procedimiento que le permite <%= TopicLink([Activar o Desactivar],[Activa E Inactiva Deuda en Masa]) %>varias deudas a la vez.  Tal como lo muestra la siguiente pantalla solo debe seleccionar la opción que desea ejecutar, ya sea Activar o Inactivar y luego seleccione el Acreedor y los trabajadores y proceda a ejecutarlo.

<p align="CENTER"><img src="\images\mant\deudas_activa_desactiva.png"></p>


<h3>NUEVO AGRUPAMIENTO EN REPORTES DE CHEQUES </h3>
Al momento de tomar los reportes de <i>Informes|Cheques y Depósito Directo</i>, se puede solicitar agrupar la información de acuerdo con las opciones que muestra la siguiente pantalla:

<p align="CENTER"><img src="\images\informes\ChequesyACH\InfCheque_agrupamiento.png"></p>

<h3>INCLUIR OTROS EMPLEADOS EN PLANILLA EXTRAORDINARIA </h3>
Se ha incorporado en la pantalla de generación de la Planilla Extraordinaria, un parámetro que permita incluir a los empleados que estén de Vacaciones, Suspendidos o de Licencia.  Sólo indique que estatus desea incluir entre los posibles seleccionados y luego, siga los pasos como de costumbre.  Con esta opción no necesita cambiar el estatus del trabajador, para incorporarlo en la Planilla Extraordinaria y tampoco se cambia el estatus que tiene asignado el trabajador.

<p align="CENTER"><img src="\images\Planillas\incluir_emp_extraordinaria.png"></p>


<h3>CARGOS</h3>
A partir de esta versión, existe una tabla para crear los cargos, se deben crear en <%= TopicLink([<i>Mantenimiento|Cargos</i>],[_3B50Y7LKK]) %> y luego, en la pantalla de los Datos Generales del Empleado, se selecciona el cargo asignado a cada trabajador.

<p align="CENTER"><img src="\images\mant\Empleados\cargo.JPG"></p>


<h3>CAMBIO DE SALARIO</h3>
A partir de esta versión está restringido con contraseñas  el cambio en los valores registrados a pagarse en los conceptos de gasto de representación, transporte, viatico y también los campos de otros ingresos.   Esta restricción anteriormente solo estaba para el salario regular.

<p align="CENTER"><img src="\images\mant\Empleados\cambiar salarios1.PNG"></p>

Existe una opción, que de estar habilitada, el usuario puede efectuar cambios directamente en la pantalla de Ingresos Predeterminados. Ver <i>Otros|Administración|Usuarios</i>.

<h3>REPORTE DE CAMBIO DE SALARIO AHORA ES CAMBIO DE SALARIOS \ INGRESOS</h3>
También cambió el reporte de cambio de salario, ahora es Cambio de Salario \ Ingresos, ya que este muestra de acuerdo a los empleados y fechas seleccionadas, los cambios que se hayan realizado a los salarios y\o ingresos en el periodo elegido.

<p align="CENTER"><img src="\images\informes\RecHumanos\InfRcHum_cambiosalario.png"></p>


<h3>COMPAÑIA ABSORBE PARTE DE LA DEUDA</h3>
Este parámetro indica que cuando se haga descuento para este acreedor, el trabajador paga una parte y la empresa paga otra parte. Las indicaciones de los valores que paga cada parte se registran en la deuda, ver Mantenimiento\ Deudas.


<h3>NUEVO INFORME: EDAD Y ANTIGUEDAD</h3>
Se creo un nuevo informe que muestra por empleado, la edad del trabajador y la antigüedad que tiene laborando en la empresa.  El reporte se puede dividir por sucursal y puede ser clasificado por departamento, centro de costo o división.
Búsquelo en <i>Informe|Empleados| Edad y Antigüedad</i>.

<p align="CENTER"><img src="\images\informes\Empleados\InfEmp_edadyantig.png"></p>

<h3>RESTRICCION A INGRESOS PREDETERMINDADOS</h3>
Se ha incluido una nueva restricción para que la pantalla de Ingresos Predeterminados esté habilitada sólo al momento de crear un nuevo empleado.  Realizar una modificación o agregar un ingreso es necesario hacerlo desde la pantalla de Cambio de Salarios \ Ingresos.  En la pantalla de Ingresos Predeterminados, solo se permite cambiar la frecuencia con que se pagará el ingreso al trabajador.

Se agrega una opción que permite modificar directamente en la pantalla de Ingresos Predeterminados, pero debe ser activada por el SUPERVISOR del sistema.  Se encuentra en <i>Otros|Administración|Usuarios</i>
<p align="CENTER"><img src="\images\otros\otros_usu_modIngPred.png"></p>


<h3>NUEVO INFORME: RESUMEN DE INGRESOS</h3>

Este informe le permite seleccionar los ingresos que quiere sumariar de acuerdo a las fechas seleccionadas. El mismo condensa los diferentes tipos de ingresos en un solo monto y los presenta mensualmente por empleado de acuerdo a las fechas seleccionadas.  Puede verlo en INFORME \ Empleados \ Resumen de Ingresos.

<p align="CENTER"><img src="\images\informes\Empleados\InfEmp_ResuIng.png"></p>


<h3>Cambio en la Planilla Prelaborada</h3>
Se incluye el cambio de ley que controla el monto límite para la pensión de vejes e invalidez. El valor mínimo varía, por varios años había sido B\.185.00 o B\.100.00, pero desde septiembre 2011 subió de B\.185.00 a B\.235.00, desde enero 2012 es de B\.245.00 y cada 5 años sube B\.10.00 y para el 2017 se incrementa a B\.255.00 y se mantiene este monto hasta el año 2022. De acuerdo a éstos valores, se colocan las "X" en la prelaborada.

<h3>NUEVO INFORME:  Depósitos Directos Realizados - Acreedores </h3>
Se agrega un reporte para la presentación de los ACH generados a favor de Acreedores, se encuentra en <i>Informes|Depósitos Directos Realizados - Acreedores</i>


<h3>Nivel de Endeudamiento</h3>
Es un nuevo reporte que muestra el nivel de endeudamiento que tiene el trabajador.  Está en  Informe \ Deudas \ Nivel de Endeudamiento

<h3>Mejoras en el reporte de cuentas bancarias</h3>se modifico el reporte para permitir al usuario agruparlo ya sea por departamento, centro de costo, división, proyecto, sucursal.  Esta en Informes \ Recursos Humanos \ Listado de cuentas bancarias


<h1>PayDay versión 9.86.9   </h1>

<p align="CENTER">18 de Julio 2011</p>


<h3>Más información en el Reporte de Cumpleaños</h3>
Se modificó el reporte de Cumpleaños para que permita agruparse por Sucursal (opcionalmente) y que además muestre, el cargo de la persona y el departamento al cual pertenece.

<p align="CENTER"><img src="\images\informes\RecHumanos\InfRcHum_cumpleanos.png"></p>

<h3>Configuración Avanzada del envio por email de Vouchers</h3>
Para el envío de los vouchers o comprobantes de pago por correo electrónico a los trabajadores, hemos incorporado algunos parámetros configurables, tal como se muestra en la siguiente figura:

<RAWHTML>
    <table class="nuevo-table" border="1" width="80%">
        <tr>
            <td>
                Al habilitar el envio avanzado de Vouchers por email usted puede cambiar las siguientes especificaciones:
                <p>Cambiar el Puerto SMTP, el default en Payday es  25
                <p>Solicitar confirmación de entrega </p>
                <p>Solicitar confirmación de lectura </p>
                <p>Activar el protocolo de seguridad SSL </p>
                <p>Además puede solicitar Autentificación y Guardar el usuario y contraseña utilizado </p>
        </tr>
        <td><p align="CENTER"><img src="\images\Planillas\Vouchers\config_avanz.png"></p></td>

        </td>
        </tr>
    </table>
</RAWHTML>

<h3>Incluir el preaviso en la Prelaborada </h3>
Ahora, usted puede elegir si quiere declarar en la Planilla Prelaborada para la CSS, el preaviso pagado al trabajador en la liquidación.
De hacerlo, este valor se mostrará en la columna de Otros Ingresos y para ello debe activar la opción que lo indica:

<p align="CENTER"><img src="\images\cambios980\Preaviso.png"></p>

Actívelo en la pantalla de <%= TopicLink([<i>Configuración|Opciones|Misceláneos</i>],[_18Q0K2NIJ]) %>


<h3>Mejora al reporte de Montos de Liquidación </h3>
Hemos incluido la opción de que usted puede generar este reporte seleccionando a los trabajadores que desea, ya que antes se generaba para todos juntos.  Ahora además puede seleccionar por grupos o individualmente y además puede dividirlo por sucursales.

<p align="CENTER"><img src="\images\informes\RecHumanos\InfRcHum_montodeLiquidacion_pantalla.png"></p>


<h1>PayDay versión 9.86.0   </h1>

<p align="CENTER">18 de Marzo 2011</p>


<h3>NUEVO ANEXO 03</h3>
La Dirección General de Ingresos (DGI) ha publicado el nuevo formato para la presenación del Anexo 03 v.1.4, el cual ya está incluido en esta versión de PayDay.
Es importante que verifique los nuevos cambios como lo son las claves de ISR y los trabajadores que tienen pasaporte.
Los nuevos cambios y el formato puede verlos con más detalle en <%= TopicLink([Anexo 03],[_1UM0RKQZA]) %>.

<h3>ACH con más de un Banco</h3>
Esta versión tiene un cambio importante y es que permite a la empresa, tener configurado más de un Banco para el pago por ACH a sus trabajadores.
Lo que le permite que en una misma planilla se pueda pagar desde dos Bancos diferentes.

Para ellos se incluye un nuevo campo en los datos del empleado, forma de pago, para registrar el Banco desde el cual le haremos el pago al trabajador.

<p align="CENTER"><img src="\images\actualiza\banco_cia_ach.png"></p>

La pantalla de Bancos, tiene dos nuevos cambios:
    1. Se debe seleccionar el formato de Ach que utilizará con ese Banco.
    2. Los números de secuencia ACH de empleados y acredores, que utilizan algunos bancos en sus formato, así:

<p align="CENTER"><img src="\images\actualiza\bancos.png"></p>

Además, al momento de hacer la planilla, tomando la opción informes al banco,  se listan todos los empleados que cobran por ach y desde esa forma se pueda verificar y\o cambiar el banco de donde le vamos a pagar al empleado.

<p align="CENTER"><img src="\images\actualiza\ach_cambiobanco.png"></p>

<h3>Mejoras en el Listado para  Firmas</h3>
 Se modifica el reporte Listado para Firma, que sale opcionalmente al tomar el Borrador, para que se presente con el agrupamiento por sucursal si así lo solicita el usuario, de esta forma la información de este reporte debe salir con la misma presentación y orden del borrador.

<h3>Nuevo formato Fondo de Cesantía </h3>
Se crea un nuevo formato para fondo de cesantia para progreso, al cual se le agrego el nombre del empleado, ya que el formato anteriror no tenia. Ahora se llama PROGRESO 2

<p align="CENTER"><img src="\images\actualiza\progreso2.png"></p>

<h3>Mejora en la reactivación de empleados </h3>
En la industria de la construcción, con regularidad se "liquida" al trabajador y se le recontrata enseguida, para que incie en una nueva fase o proyecto. Al momento de reactivar al trabajador con la fecha del día siguiente al que fue liquidado, PayDay le pregunta si realmente el trabajador estuvo cesante o no.  En esta versión se mejoró la pregunta con un mensaje más explicito y se cambiaron las opciones de la respuesta, tal como lo muestra la siguiente figura:

<p align="CENTER"><img src="\images\actualiza\reactivacion_emp.png"></p>

Si la respuesta es:
<b>No estuvo cesante:</b> Se recupera la fecha de ingreso que tenía grabada.
<b>Estuvo Cesante:</b>Verifica y recalcula de ser necesario los días sin contrato en el año.

<h3>Cambio en Asiento Contable, método Constructoras </h3>
Se modificó la pantalla de generación del asiento contable para que cuando el usuario seleccione "Usar el método de constructora" automáticamente se activen las reservas de Vacaciones y XIII mes así como las cuotas patronales, para agilizar el proceso y evitar errores.

<h3>Exportación de Datos </h3>
Esta es una nueva opción que le permite exportar datos importantes, para manipularlos o crear nuevos reportes.
Es muy útil y usted puede crear nuevos reportes en Ms Excel, en txt o en formato DBF, con la siguiente pantalla.

<p align="CENTER"><img src="\images\informes\Otros Informes\Exporta1.png"></p>

Esta opción también permite consolidar la exportación de empleados de las compañías seleccionadas por el usuario y la posibilidad de que el usuario decida en qué orden desea que se generen los campos en el archivo de salida.


<h1>PayDay versión 9.80   </h1>

<p align="CENTER">20 de Marzo 2010</p>


<h3>Nueva Tabla de ISR </h3>
La Ley 8 del 15 de marzo de 2010, reforma el artículo 700 del Código Fiscal, con la siguiente tabla:

<p align="CENTER"><img src="\images\cambios980\tablaisr.png"></p>

<h3>Nuevo cálculo del ISR del Gasto de Representación</h3>
Se adiciona el literal I al Artículo 701 del Código Fiscal, el cual establece un nuevo cálculo para el ISR del Gasto de Representación.

<p align="CENTER"><img src="\images\cambios980\tablaisrGr.png"></p>

<h3 class="code">
    <h3>Nuevo Campo para el ISR del Gasto de Representación</h3>
    Se ha creado un nuevo campo para tener por separado el ISR del salario y el ISR del Gasto de Representación.
    Esta separación se puede apreciar en
</h3>
a. El borrador de la planilla (algunos formatos)

<p align="CENTER"><img src="\images\cambios980\borrador.png"></p>

b. En la pantalla de Ajustes a los Aculumados tambien se muestra por serparado los dos valores del ISR descontado.

<p align="CENTER"><img src="\images\cambios980\ajustes.png"></p>

c. En los Vouchers (algunos formatos)

<p align="CENTER"><img src="\images\cambios980\vouchers.png"></p>


<h3 class="code">
    <h1>PayDay versión 9.70   </h1>
    <p align="CENTER">1 de Diciembre 2009</p>
</h3>


<h3>Vouchers por Email </h3>
Una opción muy útil que permite <%= TopicLink([enviar por email],[Vouchers por Email]) %>los vouchers o comprobantes de pago de los trabajadores de las planillas regulares y especiales.  Una opción que además de permitirle ahorrar tiempo y dinero, le ayuda a contribuir con el cuidado del medio ambiente.

<h3>Informe de Aviso de Entrada del Trabajador para la CSS </h3>
Ahora usted puede generar e imprimir el <%= TopicLink([formulario],[Datos Generales - Empleado]) %>que debe llevar a la Caja de Seguro Social, para informar al programa de Riesgos Profesionales, del Aviso de Entrada del Trabajador.

<h3>Tomar la foto directamente de PayDay   </h3>
<img src="\images\Botones\TOMAR FOTO.jpg"> Si tiene una cámara web, tome y guarde la foto al trabajador desde PayDay, muy fácilmente.

<h3 class="header3"><li>Generación de Prelaborada en Cero </h3>
Esta opción es requerida para entregar a la Caja de Seguro Social, una prelaborada que indique el cierre de la empresa.  Ya está disponible para quienes la necesiten.

<h3 class="header3"><li>Impresión de Preelaborada en 8.5 x 14  </h3>
Ya esta lista la prelaborada en un formato más grande, para que sea más clara la información.

<h3>Reporte de Historial de Liquidaciones del Trabajador</h3>
Este nuevo reporte nos proporciona el listado de las liquidaciones realizadas a un trabajador, a partir de las liquidaciones realizadas con esta versión 9.70.

<p align="CENTER"><img src="\images\informes\RecHumanos\InfRcHum_HistoricoLiquidacion.png"></p>

<h3>Activacion de empleados que regresan de Vacaciones, en la pantalla de generar transacciones</h3>
Con esta nueva opción podrá, al momento de <%= TopicLink([generar la planilla],[Generar Transacciones]) %>activar a los trabajadores que ya deban incorporarse a la planilla a pagar porque regresó de Vacaciones, o ya no está Suspendido ni de Licencia.

<h3> Reservas de Gasto de Representacion </h3>
Con esta nueva versión, puede indicarle a PayDay que incluya en el asiento, la Reservas del Gasto de Representación.


<h3> Nuevo parámetro que permite postear planillas con salario neto en cero </h3>

<RAWHTML>
    <table class="nuevo-table" border="1" width="86%">
        <tr>
            <td Nowrap><img src="\images\mant\opciones_postearCero.png"></td>
            <td>Este parámetro lo requieren la industria de la Construcción, para poder postear planillas donde el trabajador estubo ausente todos los días y se requiere registrar esas ausencias para que se tomen en cuenta al confeccionar la liquidación. </td>
        </tr>
    </table>
</RAWHTML>


<h3> Con un solo parámetro, cambie la forma de pago a Cheque a los que se les pague por ACH </h3>

<RAWHTML>
    <table class="nuevo-table" border="1" width="86%">
        <tr>
            <td Nowrap><img src="\images\mant\opciones_pagarcon Ck.png"></td>
            <td>Con este nuevo parámetro si usted paga por ACH, pero necesita pagar una planilla por cheque, no tiene que cambiar la forma de pago a cada trabajador individualmente, con activar éste parámetro, se confeccionarán cheques para todos los trabajadores que cobran regularmente por ACH. </td>
        </tr>
    </table>
</RAWHTML>

<h3>	Nueva pantalla para anotar observaciones al trabajador </h3>
Nueva pantalla para anotar <%= TopicLink([observaciones],[Observaciones]) %>, anote aquí, para tener a mano y siempre disponible cualquier información especial que quiera tener del trabajador.

<h3>Nuevo reporte que muestra la ficha del trabajador, su foto y las observaciones</h3>
Este es un nuevo informe que presenta los datos del trabajador, incluyendo su fotografía y las observaciones realizadas al trabajador.

<h3>	Se permite inactivar las deudas, al liquidar al trabajador </h3>
Tenemos un nuevo parámetro que le permite indicarle a PayDay que cuando liquide a un trabajador, coloque sus deudas en estatus INACTIVO, de forma que si vuelve a recontratar al trabajador sus deudas no estén .


<h3>Nuevo método para ordenar o <%= TopicLink([agrupar el asiento contable],[Resumen de Gastos]) %></h3>
Tenemos un nuevo método que permite dividir el asiento contable por Centro de Costos, aunque cada centro de costo tenga asignada la misma cuenta contable en cada renglón del gasto.

<RAWHTML>
    <table class="nuevo-table" border="1" width="70%">
        <tr>
            <td><h3 class="header3"><p align="CENTER">ANTES</p></h3></td>
            <td><h3 class="header3"><p align="CENTER">NUEVO</p></h3></td>
        </tr>
        <tr>
            <td><p align="CENTER"><img src="\images\informes\MayorGen\InfMayor_antes.png"></p></td>
            <td><p align="CENTER"><img src="\images\informes\MayorGen\InfMayor_nuevo.png"></p></td>
        </tr>
    </table>
</RAWHTML>

<h3>	Avisos automáticos o semiautomáticos de nuevas versiones de PayDay </h3>

<p align="CENTER"><img src="\images\mant\opciones_avisoactualizar.png"></p>

Al activar esta opción, PayDay le avisará cada vez que se tenga en su página web, una nueva versión del programa.

<h3>Nuevo módulo de Anotaciones </h3>
Con este super útil módulo usted puede <%= TopicLink([anotar],[Anotaciones]) %>tareas que necesita que PayDay le recuerde, en un momento determinado.  Además pueden ser anotaciones solo para usted o para otro usuario del sistema, inclusive para todos los usuarios, usted indique a quien.  Es muy útil, PRUEBELO YA!!!



<h1>PayDay versión 9.60   </h1>
<p align="CENTER">15 de Agosto 2008</p>


<h3 class="header3"> <li>Aumentos en Masa</h3>
Genere aumentos de salario para varias personas a la vez, con esta opción muy fácilmente podrá generar aumentos de salario <%= TopicLink([en masa],[En Masa]) %>ya sea por antigüedad, por cargos, por ubicación (ya sea departamento, centros de costos, sucursal, grupo de pago, etc) o para los permanentes o eventuales o para los sindicalizados.  Es muy fácil seleccionar a los trabajadores y generar aumento para varios con una sola opción.

<h3 class="header3"> <li>Jefes de Cuadrilla (Especial para Constructoras) </h3>
 A partir de la versión 9.50.12 usted puede indicarle a un trabajador del tipo "Construcción" que es "Jefe de cuadrilla", y con éste parámetro, PayDay le calculará la <%= TopicLink([Bonificación del 12%],[Configuración - Empleado]) %>del salario, incluyendolo en sus planillas regulares.




<h3 class="code">
    <h1>PayDay versión 9.50.12   </h1>
    <p align="CENTER">15 de Noviembre 2007</p>

</h3>
<h3>Jefes de Cuadrilla (Especial para Constructoras) </h3>
 A partir de la versión 9.50.12 usted puede indicarle a un trabajador del tipo "Construcción" que es "Jefe de cuadrilla", y con éste parámetro, PayDay le calculará la <%= TopicLink([Bonificación del 12%],[Configuración - Empleado]) %>del salario, incluyendolo en sus planillas regulares.


<h3>Validación del Número de Cuenta Bancaria </h3>
  Al colocar el número de cuenta bancaria del trabajador, para hacerles sus pagos a travéz de ACH, PayDay verifica que el número de cuenta que está incluyendo, no exista o no esté ya asignada a otro trabajador.

<p align="CENTER"><img src="\images\mant\Empleados\emp_cuenta_banco_existe.png"></p>


<h3 class="header3"><li>Nuevo listado de Bancos en la Red ACH </h3>
Se actualizó el listado de los Bancos para la Red ACH, incluyendo por ejemplo a BICSA, CACECHI, COEDUCO, COESAN, COOPEVE y COPEDUC.
<p align="CENTER"><img src="\images\nuevos_bancos.png"></p>


<h3 class="header3"> <li> Posteo de Planilla Extraordinaria </h3>
 Al momento de realizar el <%= TopicLink([posteo de una planilla extraordinaria],[Extra-ordinaria]) %>, se encontrará con una nueva pantalla que le pregunta si requiere cambiar la fecha del último día pagado a los trabajadores que se incluyen en la planilla extraordinaria que está posteando.

<h3>Movimiento del Banco, en el asiento contable </h3>
 Se agregó en la pantalla de Asiento Mensual y por Planilla, nuevas opciones que le permiten seleccionar la presentación del <%= TopicLink([Movimiento del Banco],[Resumen de Gastos]) %>, de entre las siguientes opciones:  Movimiento en Resumen, Movimiento Detallado, No presentar Movimiento.

<h3 class="code">
    <h1>PayDay versión 9.50</h1>
</h3>
<h3>Descontar sólo el 10% de ISR a los Gastos de Representación </h3>
En la pantalla de datos generales del empleado, existía un parámetro con el cual se le podía indicar a PayDay que hiciera el descuento de ISR sobre el 100% de los Gastos de Representación, sin embargo, un fallo de la corte determino que los Gastos de Representación sólo deben pagar el 10% de Impuesto sobre la Renta, por lo tanto, a partir de esta versión hemos eliminado el parámetro respectivo.  Si usted tiene activada  la opcíon de descontar ISR al 100% de los GAstos de Representación, al entrar a PayDay, se le mostrará el siguiente mensaje:

<p align="CENTER"><img src="\images\preguntaGRep.png"></p>

Presione OK
<img src="\images\Botones\OK.png">si desea cambiar definitivamente a éstos trabajadores para que se les descuento sólo el 10% para ISR, o presione cancelar
<img src="\images\Botones\Cancelar2.png">si no desea realizar ningún cambio al respecto.  Este mensaje se mostrará en su pantalla, siempre al entrar al sistema, PayDay detecte que tiene configurado aún el descontar ISR sobre los Gastos de Representación al 100%.

<h3>Informe de Vacaciones Tomadas</h3>
PayDay le ofrece un nuevo informe que le detalla las vacaciones que ha tomado un trabajor.  Puede verlo en <i>Informes|Recursos Humanos|Vacaciones</i>, se llama Vacaciones tomadas y puede tomarse por trabajador.

<h3 class="header3"><li>Exportación de Informes a Excel y PDF</h3>
 Además de la impresión de reportes por pantalla, por impresora o enviarlos vía email, PayDay le ofrece la opción de abrir directamente algunos reportes en un archivo de Excel, el cual puede despues modificar según sus necesidades, ya sea para incluir o quitar información.

<h3 class="header3"><li>Nuevo método para Backups de Datos - VIA FPT</h3>
Buscando siempre mejorar los procesos para que los usuarios de PayDay puedan recibir asistencia cada vez más rápida y eficiente, PayDay posee una nueva opción para enviar los Backups directamente al servidor de Sosa y Cía., S.A.   Este procedimiento no necesita configurar en su equipo el servidor de correo.


<h1>PayDay versión 9.31.235</h1>
</h3>

<h3> Pantalla del Anexo 03</h3>
Con los cambios requeridos por la Ley No. 51 de 27 de diciembre de 2005, se hace necesario incluir en la Planilla 03 los ingresos que reciba el trabajador en concepto de Salarios en Especie, Dietas y Combustible, por tal motivo, al momento de genera su planilla 03, usted puede decidir si la empresa decide declarar estos ingresos en su Planilla 03.

<h3 class="header3"><li>Soporte Remoto</h3>
 Este es un nuevo servicio a su disposición que le permite que uno de nuestros técnicos le asista en el momento que lo necesite, sin esperar a que éste llegue a su oficina.  El técnico tomará el control de su equipo, luego que usted le de la autorización cuando lo necesite y así recibirá asistencia de forma expedita.

<h3 class="header3"><li>PayHelp</h3>
 PayHelp es este manual de ayuda, que le muestra información de todo PayDay.  Es un instructivo con imágenes y ejemplos de muchas de las facilidades de PayDay, sabemos que le será muy útil, y estará constantemente actualizado.


