@{
    ViewData["Title"] = "Home Page";
}

<div><img width="600px" src="images\logo.png"></div>


<p>Bienvenidos al Programa de Ayuda de PayDay, sistema de Planilla o Nómina.  </p>


<b>Algunos enlaces útiles para iniciar:</b>

<ul>
    <li> <a class="nav-link" asp-area="" asp-controller="PayDay" asp-action="MenuPrincipal">Menú Principal de PayDay</a>
    <li> <a class="nav-link" asp-area="" asp-controller="Home" asp-action="qhdn">¿Qué hay de nuevo?</a>
</ul>

<small>PayDay,  Sistema de Planilla o Nómina, desarrollado por Sosa y Cía., S.A., en Ciudad de Panamá, República de Panamá.</small>
