@{
    ViewData["Title"] = "Menu Planillas";
    Layout = null;
}

La primera opción del Menú Principal de PayDay es Planillas, en ella podrá realizar cada una de las planillas de pago a sus trabajadores.

Como veremos a continuación, PayDay cuenta con diferentes tipos de planillas, clasificadas por su frecuencia de pago y por pagos especiales.  Veremos también la forma de trabajar cada una de ellas.

Al tomar la opción Planillas, se pueden observar el menú que se ilustra a continuación, con las siguientes opciones:

<style>
    #planillas-table {
        width: 50%;
        border: 1px #F5FAFF;
    }

    table td {
        border: solid 2px #F5FAFF;
    }

</style>
<table align="center" id="planillas-table">
    <tr>
        <td><p align="CENTER"><img src="images\Planillas\Menu_planillas.png"></p></td>
        <td>
            <ul>
                <li> <%= TopicLink([Reloj],[Reloj]) %>
                <li> <%= TopicLink([Planillas Regulares],[Planillas Regulares]) %>
                <li> <%= TopicLink([Extra-ordinaria],[Extra-ordinaria]) %>
                <li> <%= TopicLink([Décimo III],[Décimo III]) %>
                <li> <%= TopicLink([Vacaciones],[Vacaciones]) %>
                <li> <%= TopicLink([Liquidación],[Liquidación]) %>
            </ul>
        </td>
    </tr>
</table>
