

@{
    ViewData["Title"] = "Menu Planillas";
    Layout = null; // Deshabilita el layout para esta vista
}

<p align="CENTER"><img src="images\mant\horario.png"></p>

<p>En esta pantalla sólo es necesario asignarle un código y un nombre al Horario, seleccionar el método de captura de horas a utilizar para el horario y si es el método de Hora Entrada / Salida, debe entonces colocarse en cada día, la hora de entrada y salida.</p>

<p>Para más información, vea: <a class="btn-link" href="#" aria-controls="submenu-mant-hor-metodos" data-topic="Mantenimiento/Horarios/MetodosCaptura">Métodos de Captura de Datos.</a> </p>