

@{
    ViewData["Title"] = "Menu Planillas";
    Layout = null; // Deshabilita el layout para esta vista
}

<p>Esta pantalla es para configurar el redondeo del horario, solamente cuando se utiliza como método de captura de datos, un interfaz con reloj, que cargue las marcaciones día a día.</p>

<p>Solo debe colocar los minutos de gracia que se le permite a los trabajadores, para no tomarlos en cuenta en el horario.</p>

<p align="CENTER"><img src="images\mant\horario_otros.png"></p>

<p>También se debe configurar el Tiempo de Comida del horario.</p>